<%@ Master Language="C#" MasterPageFile="~/Frontend.master" AutoEventWireup="true" CodeFile="OpenStack.master.cs" Inherits="OpenStack" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <%--添加第二层母版页的子页--%>
    <asp:ContentPlaceHolder ID="head2" runat="Server">
        <%--添加第二层母版页的子页css--%>
    </asp:ContentPlaceHolder>
    <%--添加第二层母版页的子页结束--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="main-body">
        <div class="single-page">

            <div class="col-md-9 content-left single-post">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="Server">
                </asp:ContentPlaceHolder>
            </div>



            <div class="col-md-3 side-bar">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        模块
                    </div>
                    <ul class="list-1">
                        <li><a href="OpenStack_Article_View.aspx">OpenStack简介</a></li>
                        <li><a href="OpenStack_Article_List.aspx">计算机管理（Nova）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">储存管理（Cinder）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">网络管理模块（Neutron）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">计量与监控（Ceilometer）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">编排（Heat）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">裸机管理（Ironic）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">编排（Heat）</a></li>
                        <li><a href="OpenStack_Article_List.aspx">数据服务</a></li>
                        <li><a href="OpenStack_Article_List.aspx">安全方案</a></li>
                        <li><a href="OpenStack_Article_List.aspx">其它</a></li>
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        最新资讯
                    </div>
                    <div>
                        <ul class="list-1">
                            <li><a href="#">123456789</a></li>
                            <li><a href="#">123456789</a></li>
                            <li><a href="#">123456789</a></li>
                            <li><a href="#">123456789</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        友情链接
                    </div>
                    <ul class="list-1">
                        <li><a href="http://docs.openstack.org/" target="_blank">OpenStack社区</a></li>
                        <li><a href="http://planet.openstack.org/" target="_blank">OpenStack资讯</a></li>
                        <li><a href="http://www.openstack.org/blog/category/newsletter/">OpenStack博客</a></li>
                        <li><a href="http://git.com/openstack.org/cgit">OpenStack 核心项目Git库</a></li>
                        <li><a href="https://github.com/openstack-infra">OpenStack 项目建设工具</a></li>
                        <li><a href="https://github.com/openstack-dev">OpenStack 开发人员工具</a></li>
                        <li><a href="https://review.openstack.org/">OpenStack 代码review系统</a></li>
                    </ul>
                </div>

            </div>
            <div class="clearfix"></div>
            <%-- </div>--%>



            <%--添加第二层母版页的子页内容结束--%>
        </div>
    </div>
</asp:Content>

